td,
th {
  border-right: 1px solid currentColor;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-elevation-z8 {
  background-color: violet;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: 10px;
}
/* .userdetails {

} */
