<!-- <button mat-raised-button (click)="userDetailslogout()">Logout</button> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <!-- Name Column -->
  <ng-container class="userdetails userdetails_heading" matColumnDef="id">
    <th class="userdetails_heading" mat-header-cell *matHeaderCellDef> id </th>
    <td class="userdetails_text" mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container class="userdetails userdetails_heading" matColumnDef="user_id">
    <th class="userdetails_heading" mat-header-cell *matHeaderCellDef> user_id </th>
    <td class="userdetails_text" mat-cell *matCellDef="let element"> {{element.user_id}} </td>
  </ng-container>
  <!-- Position Column -->

  <ng-container class="userdetails userdetails_heading" matColumnDef="title">
    <th class="userdetails_heading" mat-header-cell *matHeaderCellDef> title </th>
    <td class="userdetails_text" mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- bodr-->
  <ng-container class="userdetails userdetails_heading" matColumnDef="body">
    <th class="userdetails_heading" mat-header-cell *matHeaderCellDef> body </th>
    <td class="userdetails_text" mat-cell *matCellDef="let element"> {{element.body}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
