<div class="wrapper">
  <div style="background-color:#d30e0ef0">
    <img class="runway_image" src="assets/images/3.png">
    <span class="runway_image_text">For all enquires , please call 1800 000
      000</span>
  </div>
  <img class="mobile_image" src="assets/images/desktop_header_image.JPG">
  <div class="contanier_text_desktop header_below_text">Here's where you expect us to boast about us right? Our
    excellence in
    service,
    our 16 HIA Most
    Professional Builder awards, etc etc. But that's not who we are. That's the result of what we
    do.</div>

  <div class="button_area contanier_text"> <button class="button_dekstop button_text text-white" type=" submit"
      (click)="loginWithGoogle()">Google</button>
  </div>
  <hr>

  <div class="House_Designs House_Designs_desktop">House Designs</div>
  <div class="row distance_from_footer">
    <div class="col-3 photo_block_desktop" style="border:  1px solid gainsboro;">
      <img class="mobile_image" src="assets/images/4.jpg">
      <div class="contanier_text">Offering superior distinctive design for those looking for
        sophisticated and contemporary
        features
        that they can tailor to reflect their own unique style. We've thought of everything to make
        your
        new
        home distinctly yours with our no compromise Prestige range.
      </div>
      <div class="know_more_desktop">Know More...</div>
    </div>

    <div class="col-3 photo_block_desktop" style="border:  1px solid gainsboro;">
      <img class="mobile_image " src="assets/images/5.jpg">
      <div class="contanier_text">Offering designs and finishes to ensure that the needs of the
        modern
        family have been
        considered and catered for.With our Luxury inclusions, you have the opportunity to
        personalize your new Lifestyle home to reflect how you want to live and your personal
        style.
      </div>
      <div class="know_more_desktop">Know More...</div>
    </div>
    <div class="col-3 photo_block_desktop" style="border:  1px solid gainsboro;">
      <img class="mobile_image " src="assets/images/2.jpg">
      <div class="contanier_text">Create a solid foundation for your future be delivering stylish
        and
        affordable
        contemporary designs for you to choose from. Now all the design inspiration you
        needs is icluded and you can stamp your own personal style on your brand new
        home.
      </div>
      <div class=" know_more_desktop">Know More...</div>
    </div>
    <div class="col-3 photo_block_desktop" style="border:  1px solid gainsboro;">
      <img class="mobile_image" src="assets/images/1.jpg">
      <div class="contanier_text">Our most diversified house range with something to suit
        everyon.And
        the great
        price on our Advantage range doesn't mean you miss out on the designer
        touches!
      </div>
      <div class="know_more_desktop">Know More...</div>
    </div>
  </div>

  <hr>
  <div class=" footer_desktop" style="background-color:#d30e0ef0">
    <span class="footer_youtube_pinterest_icon_desktop ">
      <i class="fa fa-youtube" style="font-size:20px;color:white"></i>
      <i class="fa fa-pinterest" aria-hidden="true" style=" font-size:20px;color:white"></i> </span>
    <span class="sitemap footer_blog_text_desktop">Blog Careers Disclaimer Runway Alerts Special Offers
      Sitemap</span>
    <span class="footer_enquiry_text_desktop">For all
      enquires, please call 1800 000
      000</span>

  </div>
</div>


<!--------------------------------Mobile---------------------------->
<div class="notice">
  <div id="mobile" class=" contanier_text container_footer_distance">
    <img class="mobile_image" src="assets/images/3.png">
    <div class="contanier_text header_text">For all enquires , please call 1800 000 000</div>
    <img class="mobile_image" src="assets/images/mobile_back.JPG">
    <div><span class="span_mobile">Here's where you expect us to boast about us right? Our
        excellence in
        service,
        our 16 HIA Most
        Professional Builder awards, etc etc. But that's not who we are. That's the result of
        what we
        do.</span>
    </div>
    <div class="button_area"> <button class="button_text text-white" type=" submit" (click)="
        loginWithGoogle()">Google</button>
    </div>

    <hr>

    <span class="House_Designs">House Designs</span>
    <div>
      <div class="photo_block" style="border:  1px solid gainsboro;">
        <img class="mobile_image" src="assets/images/4.jpg">
        <div><span class="span_mobile span_mobile contanier_text">Offering superior distinctive
            design for
            those
            looking for
            sophisticated and contemporary
            features
            that they can tailor to reflect their own unique style. We've thought of
            everything to make
            your
            new
            home distinctly yours with our no compromise Prestige range</span>
        </div>
        <div class="span_mobile know_more">Know More...</div>
      </div>

      <div class="lifestyles" style="border:  1px solid gainsboro;">
        <img class="mobile_image" src="assets/images/5.jpg">
        <div><span class="span_mobile contanier_text">Offering designs and finishes to
            ensure that the needs
            of
            the
            modern
            family have been
            considered and catered for.With our Luxury inclusions, you have the
            opportunity to
            personalize your new Lifestyle home to reflect how you want to live and your
            personal
            style.</span>
        </div> <span class="span_mobile know_more">Know More...</span>
      </div>

      <div class="access" style="border:  1px solid gainsboro;">
        <img class="mobile_image" src="assets/images/2.jpg">
        <div><span class="span_mobile contanier_text">Create a solid foundation for your
            future be
            delivering
            stylish
            and
            affordable
            contemporary designs for you to choose from. Now all the design inspiration
            you
            needs is icluded and you can stamp your own personal style on your brand new
            home.</span>
        </div>
        <div class="span_mobile know_more">Know More...</div>
      </div>

      <div class="advantage">
        <img class="mobile_image" src="assets/images/1.jpg">
        <div><span class="span_mobile contanier_text">Our most diversified house range
            with something to
            suit
            everyon.And
            the great
            price on our Advantage range doesn't mean you miss out on the designer
            touches!</span>
        </div>
        <div class="span_mobile know_more">Know More...</div>
      </div>

    </div>
  </div>
  <hr>
  <div class="footer" style="background-color:#d30e0ef0">
    <div class="footer_youtube_pinterest_icon">
      <i class="fa fa-youtube" style="font-size:32px;color:white"></i>
      <i class="fa fa-pinterest" aria-hidden="true" style=" font-size:32px;color:white"></i>
    </div>
    <div class="footer_blog_text"> Blog Careers Disclaimer Runway Alerts Special Offers
      Sitemap
      <p class="footer_enquiry_text_mobile">For all
        enquires, please call 1800 000
        000</p>
    </div>
  </div>
</div>
