<div class="img-wrapper ">
  <div class="img-overlay">
    <div class="flex-container">
      <div class="my-google-map">
        <google-map height="300px" width="500px" [center]="center" [zoom]="zoom" [options]="options">
          <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
            [options]="markerOptions"></map-marker>
        </google-map>
      </div>
      <button mat-raised-button class="button_dekstop button_text text-white main_button"
        (click)="registrationOnUserDetails()">Click
        Me
        for registration</button>

      <button mat-raised-button class="button_dekstop button_text text-white main_button"
        (click)="userDetailsOnUserDetails()">Click
        Me
        for User Details</button>
    </div>
    <ng-template #noticee>
      <button mat-raised-button class="button_dekstop button_text text-white"
        (click)="registrationOnUserDetails()">Click
        Me
        for registration</button>
      <div><button mat-raised-button class="button_dekstop button_text text-white"
          (click)="userDetailsOnUserDetails()">Click
          Me
          for User Details</button>
      </div>
    </ng-template>
  </div>
  <img class="img-responsive" src="assets/images/home.jpg" style="height:100%  ;width: 100%;">

</div>
<!-- <button (click)="updateOnUserDetails()">Click Me for User Details</button> -->
<!-- <button (click)="registrationOnUserDetails()">Click Me for User Details</button> -->

<router-outlet></router-outlet>
