<div class="img-wrapper">
  <div class="img-overlay">
    <div>
      <button mat-raised-button class="button_dekstop button_text text-white"
        (click)="registrationOnUserDetails()">Click
        Me
        for registration</button>

      <button mat-raised-button class="button_dekstop button_text text-white" (click)="userDetailsOnUserDetails()">Click
        Me
        for User Details</button></div>
    <ng-template #noticee>
      <button mat-raised-button class="button_dekstop button_text text-white"
        (click)="registrationOnUserDetails()">Click
        Me
        for registration</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div><button mat-raised-button class="button_dekstop button_text text-white"
          (click)="userDetailsOnUserDetails()">Click
          Me
          for User Details</button>
      </div>
    </ng-template>
  </div>
  <img class="img-responsive" src="assets/images/home.jpg" style="height:100%  ;width: 100%;">

</div>
<!-- <button (click)="updateOnUserDetails()">Click Me for User Details</button> -->
<!-- <button (click)="registrationOnUserDetails()">Click Me for User Details</button> -->

<router-outlet></router-outlet>
