<div class="wrapper">
  <div class=" footer_desktop" style="background-color:#d30e0ef0">
    <span class="footer_youtube_pinterest_icon_desktop ">
      <i class="fa fa-youtube" style="font-size:20px;color:white"></i>
      <i class="fa fa-pinterest" aria-hidden="true" style=" font-size:20px;color:white"></i> </span>
    <span class="sitemap footer_blog_text_desktop">Blog Careers Disclaimer Runway Alerts Special Offers
      Sitemap</span>
    <span class="footer_enquiry_text_desktop"><i class="fa fa-copyright fa-10x ">
        {{currentdate | date:'dd-MM-YYYY'}}</i> For
      all
      enquires, please call 1800 000
      000</span>
  </div>
</div>


<!-- Mobile View -->
<div class="notice">
  <div class="footer" style="background-color:#d30e0ef0">
    <div class="footer_youtube_pinterest_icon">
      <i class="fa fa-youtube" style="font-size:32px;color:white"></i>
      <i class="fa fa-pinterest" aria-hidden="true" style=" font-size:32px;color:white"></i>
    </div>
    <div class="footer_blog_text"> Blog Careers Disclaimer Runway Alerts Special Offers
      Sitemap
      <p class="footer_enquiry_text_mobile"><i class="fa fa-copyright fa-10x ">
          {{currentdate | date:'dd-MM-YYYY'}}</i>
        For all
        enquires, please call 1800 000
        000</p>
    </div>
  </div>
</div>
